.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  margin-top: 2em;
  width: 90%;
  margin-left: 5%;
}
.textArea {
  background-color: #f5f0f4;
  width: 80%;
  height: 5rem;
  margin-left: 10%;
  resize: none;
}
.heading {
  margin: 5px;
}
.addComment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.charsLeft {
  margin-left: 12%;
  margin-right: 30%;
  font-size: 10px;
  opacity: 0.5;
}
