.container {
  width: 100%;
  background-color: #f5f0f4;
  min-height: 100vh;
}
.backIcon {
  display: flex;
  justify-content: space-around;
  flex: 4;
  opacity: 0.7;
  flex-direction: row;
}
.heading {
  display: flex;
  justify-content: space-around;
  flex: 4;
  flex-direction: row;
}
.back {
  margin-top: 17px;
  margin-left: -3em;
}
.btn {
  flex: 9;
}

@media (min-width: 900px)  {
  .container{
    width:80%;
    margin-left:10%;
  }
}