.mainContainer {
  width: 100%;
}
.container {
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(to right, #2d9c62, #ba56a9);
  color: white;
  display: flex;
  justify-content: space-around;
}
.container > div > h2 {
  margin-left: -50px;
  margin-top: 0px;
}

.container > div > h6 {
  opacity: 0.7;
  margin-top: -2em;
  margin-left: -50px;
}
.menu {
  display: inline;
  margin-top: 12px;
  margin-left: 40px;
}
.div {
  display: none;
}
/*
.menu{
 display:none;
}
.div {
  background-color: white;
  border-radius: 5px;
  height: 8rem;
  margin-top: 1rem;
  width: 13rem;
}
.subContainer {
  display: flex;
  justify-content: space-around;
}
.heading {
  font-weight: 800;
  margin-left: 4px;
  margin-top: 3px;
  opacity: 0.6;
}
.subContainer a {
  color: #6696de;
}
.subContainer a:hover {
  color: blue;
  text-decoration: underline;
}
.list {
  display: flex;
  flex-direction: row;
  margin-top: -1em;
  opacity: 0.6;
}
.listItem {
  list-style: none;
}

@media (max-width: 780px) {
  .container {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    padding: 1em;
    background-image: linear-gradient(to right,#2d9c62, #ba56a9);
    margin-left: 2em;
    border-radius: 0px;
    
  }
  .container > h6 {
     margin-left: -30%;
    margin-top: -1em;
    font-size:16px;
 
  }
  .menu{
    display:block;
    margin-top:-70px;
    margin-left: 90%;
   
   
  }
  .container > h2 {
    font-size: 16px;
    margin-top: -8px;
  }
  .div {
    display: none;
  }
}
@media (max-width: 1000px) and (min-width: 780px) {
  .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 4em;
    margin-bottom: 1em;
  }
  .container {
    margin-top: 1rem;
  }
  .container > h2 {
    font-size: 17px;
    margin-left: 25px;
  }

}
@media (max-width: 800px) and (min-width: 780px) {
  .container > h2 {
    margin-left: 5px;
  }

} */
